.button {
    background-color: #9eb2cf;
    border: none;
    color: rgb(41, 39, 39);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 3s ease, transform 10s;
}

.button:hover {
    background-color: blue;
    transform: rotate(360deg);
}