.App {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: [Sidebar] minmax(300px, 25%) [main-content] minmax(75vw, auto);
  grid-template-rows: auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

body {
  background: linear-gradient(45deg, black, white);
  background-size: 200% 200%;
  animation: gradient 11s linear infinite;
}

.white_transparent {
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
}